// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/_functions";

//------------------------------------------------------------------------
//Color Variables & Overrides
//------------------------------------------------------------------------

// overrie variables
@import "custom-variables";

// 2. Include any default variable overrides here
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)

// 4. Include any default map overrides here

// 5. Include remainder of required parts

// Configuration
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";

// Layout & Components
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/forms/form-check";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@import "header";
@import "background-shapes";

//------------------------------------------------------------------------
//nav
//------------------------------------------------------------------------

.nav{
max-width: 100px;
li{
    width: 100%;
    &.impact,
    {
        path{
            fill: $primary;
        }
        rect{
            fill: transparent;
        }
        &:hover, &:active, &:focus{
            path{
                fill: $edr-mauve;
            }
            rect{
                fill: $edr-mauve;
            }
        }
    }
    &.journey{
        path.outer{
            fill: transparent;
        }
        path.inner{
            fill: $primary;
        }
        &:hover, &:active, &:focus{
            path.outer{
                fill: $edr-orange;
            }
            path.inner{
                fill: $edr-orange;
            }
        }
    }
    &.future{
        path.outer{
            fill: transparent;
        }
        path.inner{
            fill: $primary;
        }
        &:hover, &:active, &:focus{
            path.outer{
                fill: $edr-green;
            }
            path.inner{
                fill: $edr-green;
            }
        }
    }
}
}

        


//------------------------------------------------------------------------
//hero
//------------------------------------------------------------------------

//------------------------------------------------------------------------
//headers
//------------------------------------------------------------------------


.section-header{
    .gradient-mask{
        width: 100%;
        height: 100%;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 415px;
        display: block;
        mask-image: linear-gradient(to right, transparent, black);
    } 
}

.heading-arrow{
    path{
        fill: $edr-mauve;
    }
}

#impact.section-header{
    .gradient-mask{
        background-image: url("../img/photos/bkg-impact.png");
    }
    .shape-container{
        rect{
            fill: $edr-mauve;
        }
    }
}

#journey.section-header{
    .gradient-mask{
        background-image: url("../img/photos/bkg-journey.jpg");
    }
    .shape-container{
        rect{
            fill: $edr-orange;
        }
    }
}

#future.section-header{
    .gradient-mask{
        background-image: url("../img/photos/bkg-future.jpg");
    }
    .shape-container{
        rect{
            fill: $edr-green;
        }
    }
}

//------------------------------------------------------------------------
//layout modules
//------------------------------------------------------------------------

// stat grid //

.stats-grid{
    
    *{
        overflow: visible;
        font-weight: bold;
    }
    .col-sm{
    background: none;
        &:hover, &:active, &:focus{
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="273.345" viewBox="0 0 273.345 273.345"><rect id="ui-square-mauve" width="201.073" height="201.073" transform="matrix(0.875, 0.485, -0.485, 0.875, 97.482, 0)" fill="%23501141"/></svg>');
            background-repeat: no-repeat;
            overflow: visible;
            background-position: center center;
            color: white;
        }
    }
}

figure.stat {
    max-width: 200px;
}

// map and legend //

.legend{
        #use-edreports{
            fill: $primary;
        }
        #does-not-use-edreports{
            fill: $primary-soft;
        }
    }
    //------------------------------------------------------------------------
//TYPOGRAPHY
//------------------------------------------------------------------------
.chart-label, 
.nav-label{
text-transform: uppercase;
letter-spacing: 1px;
}
//------------------------------------------------------------------------
//ACCORDION
//------------------------------------------------------------------------
$accordion-bg: transparent;
$accordion-color: $primary;
$accordion-icon-hover-color: rgba(255,0,0,0.5);
$accordion-icon-color: rgba(0,0,0,0.5);
$accordion-icon-active-color: rgba(0,0,0,0.5);
$accordion-icon-hover-bg: rgba(255,0,0,0.5);

$accordion-button-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="acc-btn" width="31" height="31" viewBox="0 0 31 31"><path id="Subtraction_1" data-name="Subtraction 1" d="M1134.5,415a15.5,15.5,0,1,1,10.96-4.54A15.4,15.4,0,0,1,1134.5,415Zm-6.688-16.438a.938.938,0,0,0,0,1.876h6.25v6.25a.938.938,0,1,0,1.876,0v-6.25h6.25a.938.938,0,0,0,0-1.876h-6.25v-6.25a.938.938,0,1,0-1.876,0v6.25Z" transform="translate(-1119 -384)" fill="#{$accordion-icon-color}"/></svg>');

$accordion-button-active-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="acc-btn-open" width="31" height="31" viewBox="0 0 31 31"><path id="Subtraction_1" data-name="Subtraction 1" d="M1134.5,415a15.5,15.5,0,1,1,10.96-4.54A15.4,15.4,0,0,1,1134.5,415Zm-6.688-16.438a.938.938,0,0,0,0,1.876h6.25v6.25a.938.938,0,1,0,1.876,0v-6.25h6.25a.938.938,0,0,0,0-1.876h-6.25v-6.25a.938.938,0,1,0-1.876,0v6.25Z" transform="translate(-1119 -384) rotate(45deg)" fill="#{$accordion-icon-active-color}"/></svg>');

.accordion-header{
    &:hover{
    svg{
        fill: $accordion-icon-hover-bg !important;
    }
}
}

//------------------------------------------------------------------------
//PILLBOX
//------------------------------------------------------------------------
.pillbox{
    min-height: 400px;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
}
.pill{
    max-height: 200px;
}

//------------------------------------------------------------------------
//BUTTONS
//------------------------------------------------------------------------

.button-shape-container{
    margin-top: -10px;
    .btn-caret{
        position: relative;
        margin-left: -50%;
        z-index: 5;
    }
    .btn-shape{
        fill: white;
        position: relative;
        z-index: 1;
    }
    &:hover, &:focus{
        .btn-shape{
            fill: #0A3E59;
        }
    }
}
    .btn-light{
        background-color: white;
        color: $primary;
        svg,
        rect{
            fill: $primary;
            stroke: white;
        }
        path{
            stroke: white;
        }
        &:hover{
        background-color: $primary;
        color: white;
            svg,
            rect{
            fill: white;
            stroke: $primary;
            }
            path{
                stroke: $primary;
            }
        
        }
        &.mauve{
            svg,
        rect{
            fill: $edr-mauve;
            stroke: white;
        }
        }
    }
    .btn-dark{
        background-color: $primary;
        color: white;
        svg,
        rect{
            fill: white;
        }
        path{
            stroke: $primary;
        }
        &:hover{
            color: $primary;
            background-color: white;
            svg,
            rect{
            fill: $primary;
            }
        }
    }
    .btn-dark.mauve{
        &:hover{
            background-color: $edr-mauve;
            color: white;
            svg,
            rect{
                fill: white;
            }
            path{
                stroke: $edr-mauve;
            }
        }
    }
    .btn-light.orange{
        &:hover{
            background-color: $edr-orange;
            color: white;
            svg,
            rect{
                fill: white;
            }
            path{
                stroke: $edr-orange;
            }
        }
    }
    .btn-light.green{
        &:hover{
            background-color: $edr-green;
            color: white;
            svg,
            rect{
                fill: white;
            }
            path{
                stroke: $edr-green;
            }
        }
    }

